HBox {
    -fx-spacing: 10px;
}

Button {
    -fx-font-size: 14px;
    -fx-background-color: #4285f4; /* Button background color */
    -fx-text-fill: white; /* Button text color */
}

Button:hover {
    -fx-background-color: #3b6aa3; /* Button hover background color */
}

#titleLabel {
    -fx-font-size: 24px;
    -fx-fill: #333; /* Text color */
}

#authorLabel {
    -fx-font-size: 14px;
    -fx-fill: #555; /* Text color */
}

#postedAtLabel {
    -fx-font-size: 14px;
    -fx-fill: #555; /* Text color */
}

#descriptionLabel {
    -fx-font-size: 16px;
    -fx-fill: #333; /* Text color */
}
